body {
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#header {
	background: #000 url(../images/background-header.jpg) no-repeat;
	background-size: cover;
	padding-top: 30px;
	color:#fff;
}

#header a{
	color: #fff;
}